
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1{
    margin-bottom: 4.5rem;
    color: rgb(71, 71, 71);
}

.container{
    display: inherit;
    justify-content: space-evenly;
    width: 50%;
    
}

.info{
    display: inherit;
    justify-content: center;
    flex-direction: column;
    color: grey;
    width: 25%
}

h2{
    text-align: center;
}

.info div{
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    background-color: aquamarine;
    border: black solid 2px;
    border-radius: .25rem;
    box-shadow: 1px 1px 1px grey;
    height: 3rem;
    padding: .375rem;
}

