
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --overlay-bg-color: #afafaff3;
}

body {
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-evenly;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    letter-spacing: .12rem;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
    font-size: .75rem;
    border: solid .15rem #ffff;
    padding: .5rem;
    margin: 0 auto auto auto;
    border-radius: 5%;
    transition: .2s;
}

/* add link hover styling */
a:hover{
    background: var(--overlay-bg-color);
    transition: .1s;
}

a:active{
    background: #ffffff90;
}

.container{
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    transition: .5s linear;
    background-blend-mode: overlay;
}

.container h1{
    text-align: center;
    color: #ffff;
    font-size: 2.25rem;
    margin-top: auto;
}

.left.container{
    height: 100vh;
    background: url(img/ps5.png) center, var(--overlay-bg-color) ;
    background-size: cover;
}

.right.container{
    height: 100vh;
    background: url(img/Xbox.jpg) center, var(--overlay-bg-color);
    background-size: cover;
}

/* transitions using css hover selector 
easier way to acomplish effect*/
.container:hover{
    width:90%;
    background-blend-mode:normal;
    transition: .5s ease;
}

/* transitions using javascript */
/* .active{
    width: 90%;
    transition: .5s ease;
} */

@media(max-width: 800px) {
    h1{
        font-size: ;
    }

    a{

    }
}