
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.user-searcher{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 320px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.filter{
    color: white;
    display: flex;
    flex-direction: column;
    background-color: lightslategray;
    height: fit-content;
}

.filter h2{
    width: 80%;
    margin: 1.5rem auto .25rem auto ;
}

.filter small{
    width: 80%;
    margin: 0 auto 0 auto;
}

#search{
    font-size: 1.2rem;
    padding: .4rem 1rem;
    margin: 1rem auto;
    height: 3rem;
    width: 80%;
    border: none;
    border-radius: 1.5rem;
}

#search:focus{
    outline: none;
}

.users{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/* ScrollBar */
.users::-webkit-scrollbar {
    width: .5rem;
}

.users::-webkit-scrollbar-track {
    background: rgba(119, 136, 153, 0.37);
    /* border-radius: .375rem; */
    /* margin-top: .5rem;
    margin-bottom: .5rem; */
}

.users::-webkit-scrollbar-thumb {
    background: rgba(119, 136, 153, 0.438);
    border-radius: .25rem;
}
/* ScrollBar */

.user{
    display: inherit;
    width: 100%;
    border-bottom: .5px solid rgba(0, 0, 0, .3);
}

.user img{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: 1rem;
}

#name{
    margin: 2rem auto .25rem 0;
}

#location{
    margin: 0 auto auto 0;
}



